@media only screen and (max-width: 600px) {
    body{background-color:lightblue;
    }
}

.container{
      //padding-top: 5px;
      //padding-bottom: 5px;
      position:fixed;
      display: grid;
      grid-template-columns: auto auto;
      //grid-template-rows:1fr;
      grid-gap:5px;
      grid-template-areas: "nav body";
      height: 100vh;
}

img{
  height:200px;
  max-width: 100%;
  display: block;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin-left: 35%;
}

#title{
    border:2px solid rgba(255,0,0,1);
    margin:2.5%;
    width:95%;
    color:white;
}

#header{
}

#codeblock{
  background-color: rgba(240,240,240,1);
  border-left: 2px solid red;
  border-right: 2px solid red;
  border-radius: 15px;
  font-size: 100%;
  font-style: italic;
  margin-left:30%;
  padding-left:15px;
  padding-right:15px;
  width:40%;
}


.bodytext{
  grid-area:body;
  flex-box:1;
  overflow-y: scroll;
}

.navbar{
  border-right:2px black solid;
  grid-area:nav;
  border-radius: 15px;
  padding-right: 5px;
  font-size: 110%;
  text-align: right;
  flex-box:1;
}

.subbullet{
  font-size: 75%;
}

code{
  font-size: 115%;
}

.in-code{
  background-color: rgba(240,240,240,1);
}
